---
import { API_BE, KATA_SANDI_ASLI, PASSWORD, PLAIN_TEXT, KEY } from "astro:env/client";
import { unsealCookie } from "./js/functions.js";
import { encrypt, decrypt, fu } from "./js/crypt.js";
//console.log(API_BE);
var pass;

if (Astro.cookies.has('sessionBE')) {
  const cookieBE = Astro.cookies.get("sessionBE").value;
  const password = PASSWORD;
  
  const dataCookieBE = await unsealCookie(cookieBE, password);
  //console.log("Data Cookie BE:", dataCookieBE);
  const { KATA_SANDI } = dataCookieBE;
  if(KATA_SANDI !== KATA_SANDI_ASLI){
    // cookie tidak sesuai
    pass = false;
    return Astro.redirect("/");
  }
  pass = true;
} else {
  // cookie tidak ada
  pass = false;
  return Astro.redirect("/");
}

if (pass === true && !Astro.cookies.has('sessionFE')) {

  const plaintext = PLAIN_TEXT;
  const keyBase64 = KEY;
  const keyBytes = fu.decode64(keyBase64);
  
  const enkripsi = encrypt(plaintext, keyBytes);
  //console.log("Data Enkripsi: ", enkripsi);
  Astro.cookies.set("sessionFE",
    enkripsi, {
      httpOnly: true, // Jika ingin bisa diakses di frontend
      maxAge: 60 * 60 * 2,
      sameSite: "strict"
    });
  pass = true;
}

import Layout from '../layouts/Layout.astro';
import HeaderAdmin from '../layouts/HeaderAdmin.astro';
import Kolom3 from '../layouts/Kolom3.astro';
import Kolom2 from '../layouts/Kolom2.astro';
import JudulKecil from '../components/JudulKecil.astro';
import InputBarang from '../components/InputBarang.astro';
import TombolEpik from '../components/TombolEpik.astro';
import InfoLalu from '../components/InfoLalu.astro';
import '../styles/admin.css';

if (Astro.request.method === "POST") {
  if(!pass){
    return Astro.redirect("/error/500");
  }
  const formData = await Astro.request.formData();

  // Panggil route untuk membuat riwayat baru
  const responseRiwayat = await fetch(`${API_BE}/tambah-riwayat`, {
    method: "POST",
    headers: {
      "auth": KATA_SANDI_ASLI,
    },
  });

  const result = await responseRiwayat.json();
  const { newId } = result;

  if (result.status === "success") {
    console.log("ID baru:", newId);

    function formatRupiah(angka) {
      return new Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR" }).format(angka);
    }

    const jumlahBarangWarung = 9;

    function tentukanBarang(i) {
      const daftarBarang = {
        1: ["Momogi", 5000],
        2: ["Chocolatos", 10000],
        3: ["Nextar", 15000],
        4: ["Pizza", 20000],
        5: ["Ayam Goreng", 25000],
        6: ["Donat", 30000],
        7: ["Leminerale", 35000],
        8: ["Golda", 40000],
        9: ["Milku", 45000],
      };

      const barang = daftarBarang[i];
      if (!barang) return ["Barang Tidak Diketahui", 0];
      return barang;
    }

    const total = async () => {
      let detail = "";
      let totalJenisBarang = 0;
      let totalJumlahBarang = 0;
      let totalHarga = 0;

      for (let i = 1; i <= jumlahBarangWarung; i++) {
        const jumlahBarang = parseInt(formData.get(`jumlahBarang-${i}`)) || 0;

        if (jumlahBarang > 0) {
        
        /* Barang Satuan */
          const [namaBarang, hargaBarang] = tentukanBarang(i);
          const subTotal = jumlahBarang * hargaBarang;
          detail += `${namaBarang} x ${jumlahBarang} = ${formatRupiah(subTotal)}<br>`;
          
          /* Barang Keseluruhan */
          totalJenisBarang++;
          totalJumlahBarang += jumlahBarang;
          totalHarga += jumlahBarang * hargaBarang;

          // Kirim data barang ke server
          const data = {
            newId,
            namaBarang,
            jumlahBarang,
            hargaBarang,
            subTotal,
          };
          
          console.log(data);

          const responseBarang = await fetch(`${API_BE}/tambah-barang`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "auth": KATA_SANDI_ASLI,
            },
            body: JSON.stringify(data),
          });

          const barangResult = await responseBarang.json();

          if (barangResult.status !== "success") {
            console.error("Gagal menambahkan barang:", barangResult.message);
          }
        }
      }

      console.log("Detail Barang:\n" + detail);
      const dataTotal = {
        newId,
        totalJenisBarang, 
        totalJumlahBarang, 
        totalHarga
      }
      return dataTotal;
    };
    
    const DatasTotal = await total();
    const { totalJenisBarang, totalJumlahBarang, totalHarga } = DatasTotal;
    console.log(DatasTotal);
    
    const responseTotal = await fetch(`${API_BE}/tambah-total`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "auth": KATA_SANDI_ASLI,
      },
      body: JSON.stringify(DatasTotal)
    })
    
    const resultTotal = await responseTotal.json();
    
    if(resultTotal.status !== "succes"){
      console.error("Gagal Menambahkan Total: ", resultTotal.message)
    }
    console.log("Barang Dan Total Berhasil Ditambahkan");
  } else {
    console.error("Gagal menambahkan riwayat:", result.message);
  }
}

const response = await fetch(`${API_BE}/statistik`)
const statistik = await response.json();
const { total_pendapatan,
total_pendapatan_hari_ini,
total_pendapatan_hari_lalu,
total_pendapatan_minggu_lalu,
total_pendapatan_bulan_lalu } = statistik[0];
console.log(statistik);
---

<Layout title="Admin">
  <HeaderAdmin judul="Admin" tujuanLink="/admin"/>
  
  <JudulKecil judul="Menu" tambahan="mt-5"/>
  
  <form action="" method="POST">
    
    <!-- Jajanan -->
    <Kolom3 justifyContent="space-around">
      <div class="barang" data-id="1">
        <p>Momogi</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id="1" type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-1" class="jumlahBarang" placeholder="0" name="jumlahBarang-1" value="" min="0">
          <button class="btn" data-id="1" type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=2>
        <p>Chocolatos</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=2 type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-2"class="jumlahBarang" placeholder="0" name="jumlahBarang-2" value="" min="0">
          <button class="btn" data-id=2 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=3>
        <p>Nextar</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=3 type="button" data-change="-1">-</button>
          <input type="number" id=jumlahBarang-3 class="jumlahBarang" placeholder="0" name="jumlahBarang-3" value="" min="0">
          <button class="btn" data-id=3 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
    </Kolom3>
    
    <!-- Makanan -->
    <Kolom3 justifyContent="space-around">
      <div class="barang" data-id="4">
        <p>Pizza</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id="4" type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-4" class="jumlahBarang" placeholder="0" name="jumlahBarang-4" value="" min="0">
          <button class="btn" data-id="4" type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=5>
        <p>Ayam Penyet</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=5 type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-5"class="jumlahBarang" placeholder="0" name="jumlahBarang-5" value="" min="0">
          <button class="btn" data-id=5 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=6>
        <p>Donat</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=6 type="button" data-change="-1">-</button>
          <input type="number" id=jumlahBarang-6 class="jumlahBarang" placeholder="0" name="jumlahBarang-6" value="" min="0">
          <button class="btn" data-id=6 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
    </Kolom3>
    
    <!-- Minuman -->
    <Kolom3 justifyContent="space-around">
      <div class="barang" data-id="7">
        <p>Leminerale</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id="7" type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-7" class="jumlahBarang" placeholder="0" name="jumlahBarang-7" value="" min="0">
          <button class="btn" data-id="7" type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=8>
        <p>Golda</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=8 type="button" data-change="-1">-</button>
          <input type="number" id="jumlahBarang-8"class="jumlahBarang" placeholder="0" name="jumlahBarang-8" value="" min="0">
          <button class="btn" data-id=8 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
      <div class="barang" data-id=9>
        <p>Milku</p>
        <Kolom3 justifyContent="center" gap="2vw">
          <button class="btn" data-id=9 type="button" data-change="-1">-</button>
          <input type="number" id=jumlahBarang-9 class="jumlahBarang" placeholder="0" name="jumlahBarang-9" value="" min="0">
          <button class="btn" data-id=9 type="button" data-change="1">+</button>
        </Kolom3>
      </div>
    </Kolom3>
      
      <div id="modal-container">
        <Kolom2 justifyContent="space-around" gap="0vw" tambahan="my-5">
          <button type="reset" class="btn" id="tombol-tambah">Reset</button>
          <button type="button" class="btn" id="tombol-tambah" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Tambah
          </button>
        </Kolom2>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Barang:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Struk
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="tombol-tambah" data-bs-dismiss="modal">Tutup</button>
                <button class="btn btn-primary" id="tombol-tambah" type="submit">Konfirmasi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
  
  <JudulKecil judul="Pendapatan" tambahan="mb-3"/>
  
  <Kolom2 justifyContent="space-around" gap="" tambahan="my-3">
    <InfoLalu teksAtas="Total" teksBawah={total_pendapatan}/>
    <InfoLalu teksAtas="Hari Ini" teksBawah={total_pendapatan_hari_ini}/>
  </Kolom2>
  <Kolom3 justifyContent="space-around" gap="5vw" tambahan="mb-5">
    <InfoLalu teksAtas="Hari Lalu" teksBawah={total_pendapatan_hari_lalu}/>
    <InfoLalu teksAtas="Minggu Lalu" teksBawah={total_pendapatan_minggu_lalu}/>
    <InfoLalu teksAtas="Bulan Lalu" teksBawah={total_pendapatan_bulan_lalu}/>
  </Kolom3>
  
</Layout>

<script is:inline src="/scripts/admin.js"></script>