---
import Layout from '../layouts/Layout.astro';
import Kolom3 from '../layouts/Kolom3.astro';
import Header from '../layouts/Header.astro';
import InfoTotal from '../components/InfoTotal.astro';
import InfoLalu from '../components/InfoLalu.astro';
import TombolAdmin from '../components/TombolAdmin.astro';
import TombolAdmin2 from '../components/TombolAdmin2.astro';
import TombolEpik from '../components/TombolEpik.astro';
import '../styles/index.css';
import { API_BE } from "astro:env/client";
console.log(API_BE);

const response = await fetch(`${API_BE}/statistik`)
const statistik = await response.json();
if(statistik){
  Astro.response.status = 200;
  Astro.response.statusText = "Found";
}
const { total_pendapatan,
total_pendapatan_hari_ini,
total_pendapatan_hari_lalu,
total_pendapatan_minggu_lalu,
total_pendapatan_bulan_lalu } = statistik[0];
console.log(statistik);


console.log(Astro.request);
---
  
<Layout title="Dana Porseni XVII">
  <Header judulBesar="Dana Porseni XVII"/>
  <div class="mb-5" id="info">
    <InfoTotal teksAtas="Total Pendapatan" teksBawah={total_pendapatan}/>

    <Kolom3 justifyContent="center" gap="5vw">
      <InfoLalu teksAtas="Hari Lalu" teksBawah={total_pendapatan_hari_lalu}/>
      <InfoLalu teksAtas="Minggu Lalu" teksBawah={total_pendapatan_minggu_lalu}/>
      <InfoLalu teksAtas="Bulan Lalu" teksBawah={total_pendapatan_bulan_lalu}/>
    </Kolom3>
  </div>
  
  <div class="my-5" id="info-total">
    <h6 class="atas my-5" id="nilai" style="color: black;"></h6>
    <button class="mx-auto btn btn-primary" id="tombol">Tambah</button>
  </div>
  
  <TombolAdmin2 teks="Admin"/>
  
</Layout>

<script>
  
  import $ from 'jquery';
  import { io } from "socket.io-client";
  import { API_BE } from "astro:env/client"
  console.log(API_BE);
  
  const socket = io(API_BE);

    socket.on("penghitung", (nilai) => {
      $("#nilai").html(nilai);
    });

    $("#tombol").on("click", () => {
      socket.emit("tambah");
    });

</script>